<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="bookService" class="cs544.exercise11_3.BookService">
<constructor-arg>
    <list>
        <bean class="cs544.exercise11_3.Amazon" id="amazon">

        </bean>
        <bean class="cs544.exercise11_3.BarnesAndNoble" id="barnesAndNoble"></bean>
        <bean class="cs544.exercise11_3.EBooks" id="eBooks">

        </bean>
        <bean class="cs544.exercise11_3.Borders" id="borders">

        </bean>
    </list>
</constructor-arg>

</bean>

</beans>